<script>
	import { onMount } from 'svelte';
	import Loader from '../Components/Loader.svelte';
	import { GetAllSurveyTypes } from '../../Requests/SurveyRequests.js';

	let sTypes = null;
	onMount(async () => {
		let res=await GetAllSurveyTypes();
		// Create a new array with modified object
		let modifiedArray = res.map(surveyType => ({
			...surveyType,
			id: btoa(surveyType.id)
		}));
		sTypes = modifiedArray;
	});

</script>

{#if sTypes != null}
	<div class="container m-4 is-6 has-offset-3">
		{#each sTypes as st}
			<div class="box content">
				<article class="post">
					<h4>{@html st.description}</h4>
					<div class="media">
						<div class="media-content">
							<div class="content">
								<p>
									{@html st.initial_message}
								</p>
							</div>
						</div>
					</div>
					<a class="button is-link modal-button mt-2" href="/{st.id}?theme=light">Open - Light Theme</a>
					<a class="button is-link modal-button mt-2" href="/{st.id}?theme=dark">Open - Dark Theme</a>
					<input class="input is-rounded mt-2" style="width:40%;" type="text" value="{window.location.origin}/{st.id}">
				</article>
			</div>
		{/each}
	</div>
{/if}
{#if sTypes == null}
	<Loader />
{/if}

<style>
	.media-content p {
		font-size: 14px;
		line-height: 2.3;
		font-weight: 700;
		color: #8f99a3;
	}
	article.post {
		margin: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid #e6eaee;
	}
	article.post:last-child {
		padding-bottom: 0;
		border-bottom: none;
	}
</style>
