<script context="module">
	export const prerender = false;
	export async function load({ page }) {
		return {
			props: {
				surveyTypeId: page.params.Survey
			}
		};
	}
</script>

<script>
	export let surveyTypeId;
	let presistInfo = {};
	let showStatus = 0;
	import { onMount, onDestroy } from 'svelte';
	import { goto } from '$app/navigation';
	import { PostAllSurveyAnswers } from '../../../Requests/SurveyAnswersRequests';
	import { PatchSurveyDate } from '../../../Requests/SurveyDatesRequests';
    import {getContext} from 'svelte'
	const surveyData=getContext('surveyStore')


	onMount(async () => {
		setTimeout(() => { showStatus = 1 },250)

			// if !surveydata then the page has been refreshed
			// If surveyData.date.completed then the back button has been pressed from the results page
			if ($surveyData && !$surveyData.date.completed ) {
				await saveAllAnswers();
			}
			else
			{
				goto(`/${surveyTypeId}`);
			}
		});



	async function saveAllAnswers() {
		try {
 			let questionsData = $surveyData.questionsData;
			let answerData = [];
 			for (let qs of questionsData) {
				let data = {
				surveyDateId: $surveyData.date.id,
				surveyQuestionId: qs.question.id,
				actualArea: qs.area.name,
				answer: qs.answer,
				suggestedAreaId: qs.area.id
			};
			answerData.push(data);
 			}
			await PostAllSurveyAnswers(answerData);
 			await MarkSurveyAsComplete();
 			showResults();
 		} catch (error) {
			console.log("error=",error);

			await goto(`/${surveyTypeId}/error`);
		}
	}

	async function MarkSurveyAsComplete() {
		try {
			$surveyData.date.completed = true;
			let data = $surveyData.date;
			await PatchSurveyDate(data);
			//surveyStore.update((s) => null);
		} catch (error) {
			throw 'Error while saving survey patch';
		}
	}
	async function showResults() {
		await goto(`/${surveyTypeId}/result?p=${btoa(presistInfo.surveyUserId)}`);
	}
</script>

<main>
	<div class="columns is-multiline">
		<div class="column is-8 is-offset-2 insCard">
			<div class="columns">
				<div class="column left status"  style="opacity : {showStatus}">
							<h1 class="subtitle colored is-3">
								Calculating your scores
							</h1>
							<p class="subtitle colored is-3">Please wait!</p>
					<br />
				</div>
			</div>
		</div>
	</div>
</main>

<style>
	.insCard {
		margin-top: 4rem;
		border-radius: 10px;
	}
	.left {
		padding: 4.5rem;
		text-align: center;
	}

	.left .colored {
		color: var(--brandColor);
		font-weight: 500;
		margin-top: 1rem !important;
		letter-spacing: -1px;
	}

	main div.status {
		transition: opacity 1.5s ease-in;
	}

</style>
