<script context="module">
	export const prerender = false;
	export async function load({ page }) {
		return {
			props: {
				surveyTypeId: page.params.Survey
			}
		};
	}
</script>

<script>
	export let surveyTypeId;
	let showLoader = false;
	let signupError = null;
	import { fade, fly } from 'svelte/transition';
	import { onMount, onDestroy } from 'svelte';
	import { goto } from '$app/navigation';
	import { AuthorizePerson, PostPerson } from '../../../Requests/PersonsRequests';
	import { PostSurveyDate } from '../../../Requests/SurveyDatesRequests';
	import Loader from '../../Components/Loader.svelte';
	import {getContext} from 'svelte'
	import { PostAppPermission	} from '../../../Requests/PersonsRequests.js';
	const surveyData=getContext('surveyStore')


	onMount(async () => {
	


			//Check if page has been refreshed and, if so, restart survey
			if ($surveyData == null) 
			{
				goto(`/${surveyTypeId}`);
			}
		});

	async function handleOnSubmit() {
			let data = {
				first_name: document.getElementById('name').value,
				email: document.getElementById('email').value,
				source:'terencesweeney.com/surveys'
			};
			let response = await PostPerson(data);

			if (response.error){
				// Email address already exists in the database
				// Work out which page to send user to
				signupError = response.error;
				console.log("postError=",signupError)

				// Try a dummy authorization request to see what response
				data.password = "null";

				let authorizeResponse = await AuthorizePerson(data)

				if (authorizeResponse.error === 'Password invalid'){					
					// save the email address in persistant storage
					$surveyData.user=data;
					goto(`/${surveyTypeId}/existingLogin`);
				}
				else{
					$surveyData.user=data;
					goto(`/${surveyTypeId}/existingSignup`);
				}
			}
			else{
				$surveyData.user = response;
				$surveyData.login = true;
				data={person_id:$surveyData.user.id,app_permission_item_id:2}
        		let result= await PostAppPermission(data)
				await createSurveyDate();
				goto(`/${surveyTypeId}/questions`);
			}
	}

	async function createSurveyDate() {
		let data = {
			personId: $surveyData.user.id,
			surveyTypeId: $surveyData.id
		};
		let response = await PostSurveyDate(data);
		$surveyData.date = response;
	}
</script>

<svelte:head>
	<title>Sign Up</title>
</svelte:head>
<main>
	{#if showLoader}
		<Loader />
	{:else if $surveyData}
		<div class="columns is-multiline" in:fade={{ duration: 2000 }}>
			<div class="column is-8 is-offset-2">
				<div class="columns">
					<div class="column right has-text-centered">
						<h1 class="title subtitle is-4">Please Enter Your First Name and Email....</h1>
						<form on:submit|preventDefault={handleOnSubmit}>
							<div class="field">
								<div class="control">
									<input
										class="input is-medium"
										type="text"
										placeholder="First Name"
										id="name"
										required
									/>
								</div>
							</div>
						
							<div class="field">
								<div class="control">
									<input
										class="input is-medium"
										type="email"
										placeholder="Email"
										id="email"
										required
									/>
								</div>
							</div>
						
							<!-- Privacy Policy Checkbox -->
							<div class="field">
								<div class="control">
									<label class="checkbox">
										<input
											type="checkbox"
											required
										/>
										I agree to the <a href="https://terencesweeney.com/privacy-policy/">Privacy Policy</a>.
									</label>
								</div>
							</div>
						
							<input
								class="button is-link is-block is-fullwidth is-medium"
								type="submit"
								value="Enter"
								id="submitBtn"
							/>
							<br />
						</form>
						
						  <a href="/{surveyTypeId}/signup">Register</a> or <a href="/{surveyTypeId}/login">login</a> here
					</div>
				</div>
			</div>
		</div>
	{/if}
</main>

<style>
	.field:not(:last-child) {
		margin-bottom: 1rem;
	}
	.title {
		color: var(--textLight);
	}
	.register {
		margin-top: 4rem;
		border-radius: 10px;
	}


	.right .title {
		font-weight: 500;
		letter-spacing: -1px;
	}
	input::placeholder {
		color: var(--textLight);
	}

	input {
		font-size: 1rem;
		background-color: var(--backgroundLight);
		color: var(--brandColor);
	}

	#submitBtn {
		color: var(--background) !important;
		background-color: var(--brandColor);
	}
	#submitBtn:hover {
		background-color: var(--brandColor);
	}
	#submitBtn:active {
		background-color: var(--brandColor);
	}
</style>
