<script context="module">
	export const prerender = false;
	export async function load({ page }) {
		return {
			props: {
				surveyTypeId: page.params.Survey
			}
		};
	}
</script>

<script>
	export let surveyTypeId;
	let showLoader = false;
	let signupError = false;
	import { fade } from 'svelte/transition';
	import { onMount } from 'svelte';
	import { goto } from '$app/navigation';
	import { GetPersonByEmail, PostPerson, UpdatePerson } from '../../../Requests/PersonsRequests';
	import { PostSurveyDate } from '../../../Requests/SurveyDatesRequests';
	import Loader from '../../Components/Loader.svelte';
	import {getContext} from 'svelte'
	const surveyData=getContext('surveyStore')



	onMount(async () => {
	
			//Check if page has been refreshed and, if so, restart survey
			if ($surveyData == null) 
			{
				goto(`/${surveyTypeId}`);
			}
		});

	async function handleOnSubmit() {

			// Get the email address of the user from the form
			let data = {
				email: document.getElementById('email').value,
			};
			// Get the new password of the user from the form
			let password = document.getElementById('password').value

			// Retreive the users details from the database
			let responseGet = await GetPersonByEmail(data.email)
			if (responseGet.error){
				goto(`/${surveyTypeId}/error`);
			}
			else{   // If no error then update the users details
				// Add the retreived users data to the data object
				data=responseGet;

				// Add the new password to the data object
				data.password=password;
				try {
					// Update the users data in the database
					let responseUpdate = await UpdatePerson(data);
					$surveyData.user = responseUpdate;
					$surveyData.login = true;
					await createSurveyDate();
					goto(`/${surveyTypeId}/questions`);
				}
				catch (error) {
					signupError = true;
					console.log(error);
					goto(`/${surveyTypeId}/error`);
				}	

			} 
		}
			

	async function createSurveyDate() {
		let data = {
			personId: $surveyData.user.id,
			surveyTypeId: $surveyData.id
		};
		let response = await PostSurveyDate(data);
		$surveyData.date = response;
	}
</script>

<svelte:head>
	<title>Login</title>
</svelte:head>
<main>
	{#if showLoader}
		<Loader />
	{:else if $surveyData}
		<div class="columns is-multiline" in:fade={{ duration: 2000 }}>
			<div class="column is-8 is-offset-2">
				<div class="columns">
					<div class="column right has-text-centered">
						<h1 class="title subtitle is-4">As you have previously used this tool, you must now add a password</h1>
						<form on:submit|preventDefault={handleOnSubmit}>
							<div class="field">
								<div class="control">
									<input
										class="input is-medium"
										type="text"
										Value={$surveyData.user.first_name}
										id="name"
										required
									/>
								</div>
							</div>
							<div class="field">
								<div class="control">
									<input
										class="input is-medium"
										type="email"
										Value={$surveyData.user.email}
										id="email"
										required
									/>
								</div>
							</div>
							<div class="field">
								<div class="control">
									<input
										class="input is-medium"
										type="password"
										placeholder="Password"
										id="password"
										required
									/>
								</div>
							</div>
							<input
								class="button is-link is-block is-fullwidth is-medium"
								type="submit"
								value="signup"
								name="Register Here"
								id="submitBtn"
							/>
							<br />
						</form>
						{#if signupError}
						<div id="error_response" class="subtitle">
						That email is already registered. <a href="/{surveyTypeId}/login"><br>Click here to login</a>
						<br>
						</div>
					  	{:else}
						<a href="/{surveyTypeId}/login">Already registered? Then click here to login</a>
						{/if}
					</div>
				</div>
			</div>
		</div>
	{/if}
</main>

<style>
	.field:not(:last-child) {
		margin-bottom: 1rem;
	}
	.title {
		color: var(--textLight);
	}
	.register {
		margin-top: 4rem;
		border-radius: 10px;
	}


	.right .title {
		font-weight: 500;
		letter-spacing: -1px;
	}
	input::placeholder {
		color: var(--textLight);
	}

	input {
		font-size: 1rem;
		background-color: var(--backgroundLight);
		color: var(--brandColor);
	}

	#submitBtn {
		color: var(--background) !important;
		background-color: var(--brandColor);
	}
	#submitBtn:hover {
		background-color: var(--brandColor);
	}
	#submitBtn:active {
		background-color: var(--brandColor);
	}
</style>
