<script context="module">
	export const prerender = false;
	export async function load({ page }) {
		// Get the theme from the URL
		let th = page.query.get('theme');
		// Get variable for Survey Alert from the URL
		if (th == null) {
			th = 'light';
		}
		// Return the props obect with data 
		return {
			props: {
				surveyTypeId: page.params.Survey,
				theme: th,
			}
		};
	}
</script>

<script>
	import { onMount, tick } from 'svelte';
	import { goto } from '$app/navigation';
	import { GetAllSurveyTypes } from '../../../Requests/SurveyRequests.js';

	import Loader from '../../Components/Loader.svelte';
	export let surveyTypeId;
	export let theme = 'light';
	let isLoading = true;
	import {getContext} from 'svelte'
    const surveyData=getContext('surveyStore')


	onMount(async () => {
		await tick();
		changeTheme();
		loadSurvey();
	});
    
	async function loadSurvey() {
		let res=await GetAllSurveyTypes();

		// Load the data for the relevant surveyTypeID
		$surveyData = res.find((x) => x.id == atob(surveyTypeId));
	

		setTimeout(()=>{
			// Go to the next page
			goto(`/${surveyTypeId}/opening`);
		})
		
	}


	// Assigns theme for the questionaire
	function changeTheme() {
		let r = document.querySelector(':root');
		if (theme == 'light') {
			r.style.setProperty('--brandColor', 'hsl(187, 95%, 40%)');
			r.style.setProperty('--textDark', 'hsl(0, 0%, 0%)');
			r.style.setProperty('--textLight', 'hsl(0, 4%, 20%)');
			r.style.setProperty('--background', 'hsl(0, 0%, 100%)');
			r.style.setProperty('--backgroundLight', 'hsl(0, 0%, 90%)');
		} else {
			r.style.setProperty('--brandColor', 'hsl(123, 84%, 29%)');
			r.style.setProperty('--textDark', 'hsl(0, 0%, 100%)');
			r.style.setProperty('--textLight', 'hsl(0, 16%, 84%)');
			r.style.setProperty('--background', 'hsl(0, 0%, 0%)');
			r.style.setProperty('--backgroundLight', 'hsl(0, 4%, 14%)');
		}
	}

</script>

<main>
	{#if isLoading}
		<Loader />
	{/if}
</main>
