<script context="module">
	export const prerender = false;
	export async function load({ page }) {
		return {
			props: {
				surveyTypeId: page.params.Survey
			}
		};
	}
</script>

<script>
	export let surveyTypeId;
	let showLoader = false;
	let loginError = false;
	import { fade } from 'svelte/transition';
	import { onMount } from 'svelte';
	import { goto } from '$app/navigation';
	import { AuthorizePerson } from '../../../Requests/PersonsRequests';
	import { PostSurveyDate } from '../../../Requests/SurveyDatesRequests';
	import Loader from '../../Components/Loader.svelte';
	import {getContext} from 'svelte'
    const surveyData=getContext('surveyStore')

	onMount(async () => {
	

			//Check if page has been refreshed and, if so, restart survey
			if ($surveyData == null) 
			{
				goto(`/${surveyTypeId}`);
			}
		});

	async function handleOnSubmit() {

			let data = {
				email: document.getElementById('email').value,
				password: document.getElementById('password').value
			};
			let response = await AuthorizePerson(data);
			if (response.error){
				loginError = true;
				console.log("error=",response.error)
			}
			else{
				$surveyData.user = response;
				$surveyData.login = true;
				await createSurveyDate();
				goto(`/${surveyTypeId}/questions`);
			}
	}

	async function createSurveyDate() {
		let data = {
			personId: $surveyData.user.id,
			surveyTypeId: $surveyData.id
		};
		let response = await PostSurveyDate(data);
		$surveyData.date = response;
	}
</script>

<svelte:head>
	<title>Login</title>
</svelte:head>
<main>
	{#if showLoader}
		<Loader />
	{:else if $surveyData}
		<div class="columns is-multiline" in:fade={{ duration: 2000 }}>
			<div class="column is-8 is-offset-2">
				<div class="columns">
					<div class="column right has-text-centered">
						<h1 class="title subtitle is-4">Login here with email and password...</h1>
						<form on:submit|preventDefault={handleOnSubmit}>
							<div class="field">
								<div class="control">
									<input
										class="input is-medium"
										type="email"
										placeholder="Email"
										id="email"
										required
									/>
								</div>
							</div>
							<div class="field">
								<div class="control">
									<input
										class="input is-medium"
										type="password"
										placeholder="Password"
										id="password"
										required
									/>
								</div>
							</div>
							<input
								class="button is-link is-block is-fullwidth is-medium"
								type="submit"
								value="Login Here"
								name="signup"
								id="submitBtn"
							/>
							<br />
						</form>
						{#if loginError}
						  <div id="error_response" class="subtitle">
						  Incorrect username or password... please try again.<br>
					      </div>
						{/if}
						<a href="/{surveyTypeId}/signup">Not yet registered? Then click here</a>
					</div>
				</div>
			</div>
		</div>
	{/if}
</main>

<style>
	.field:not(:last-child) {
		margin-bottom: 1rem;
	}
	.title {
		color: var(--textLight);
	}
	.register {
		margin-top: 4rem;
		border-radius: 10px;
	}



	.right .title {
		font-weight: 500;
		letter-spacing: -1px;
	}
	input::placeholder {
		color: var(--textLight);
	}

	input {
		font-size: 1rem;
		background-color: var(--backgroundLight);
		color: var(--brandColor);
	}

	#submitBtn {
		color: var(--background) !important;
		background-color: var(--brandColor);
	}
	#submitBtn:hover {
		background-color: var(--brandColor);
	}
	#submitBtn:active {
		background-color: var(--brandColor);
	}
</style>
