<script context="module">
	export const prerender = false;
	export async function load({ page }) {
		return {
			props: {
				surveyTypeId: page.params.Survey
			}
		};
	}
</script>

<script>
	
	export let surveyTypeId;
	
	import { fade, fly } from 'svelte/transition';
	import { onMount } from 'svelte';
	import { goto } from '$app/navigation';
	import {getContext} from 'svelte'
    const surveyData=getContext('surveyStore')
	onMount(async () => {


			//Check if page has been refreshed and, if so, restart survey
			if ($surveyData == null) 
			{
				goto(`/${surveyTypeId}`);
			}

			// This next section is redundant but I have left it for future
			// If the user are logged in then go straight to the questions
			// if (surveyData && surveyData.login == true) {
			//	await goto(`/${surveyTypeId}/questions`);
			// }
	});

	async function showFormHandler() {
		goto(`/${surveyTypeId}/details`);
	}

</script>

<main>
	{#if $surveyData}
		<div class="columns is-multiline">
			<div class="column is-8 is-offset-2 insCard">
				<div class="columns">
					<div class="column center">
						<h1 class="title subtitle colored is-1" in:fly={{ y: -200, duration: 1000 }}>
							{@html $surveyData.initial_message}
						</h1>
						<p class="text" in:fade={{ delay: 500, duration: 2000 }}>
							{@html $surveyData.instructions}
							<br />
							<button class="button is-link modal-button m-4" on:click={showFormHandler}
								>Let's Go!</button
							>
						</p>
					</div>
				</div>
			</div>
		</div>
	{/if}
</main>

<style>


	.center {
		text-align: center;
	}

	.center .title {
		font-weight: 800;
		letter-spacing: -2px;
		color: var(--textDark);
	}

	.center .colored {
		color: var(--brandColor);
		font-weight: 500;
		margin-top: 1rem !important;
		letter-spacing: -1px;
	}

	.center p {
		color: var(--textLight);
		font-size: 1.15rem;
	}

	@media only screen and (max-width : 700px){
		.center p {
			font-size: 1rem;
		}
		.center .title {
			font-size: 2rem;
		}
	}

	@media only screen and (max-width : 300px){
		.center p {
			font-size: .75rem;
		}
		.center .title {
			font-size: 1rem;
		}	
	}

</style>
