<script context="module">
	export const prerender = false;
	export async function load({ page }) {
		return {
			props: {
				surveyTypeId: page.params.Survey
			}
		};
	}
</script>

<script>
	import QuestionForm from '../../Components/QuestionForm.svelte';
	import { goto } from '$app/navigation';
	import {
		GetSurveyQuestionsBySurveyTypeId,
		GetSurveyAreasBySurveyTypeId
	} from '../../../Requests/SurveyRequests.js';
	import { onMount, onDestroy } from 'svelte';

	import Loader from '../../Components/Loader.svelte'
	import {getContext} from 'svelte'
    const surveyData=getContext('surveyStore')


	// Initialise Variables
	export let surveyTypeId;
	let currentQuestionData = null;
	let updateStoreFinal = false;
	let currentArea = null;
	let showLoader=true


	// Connect the surveyData variable to survey object in stores.js
	onMount(async () => {

				//Check if page has been refreshed and, if so, restart survey
				if ($surveyData == null) {
					goto(`/${surveyTypeId}`);
				} 
				else {
				// Ensure question data is reset
				delete $surveyData.questionsData

				let questions = await createQustions(atob(surveyTypeId));

				$surveyData.questionsData = questions.questionsWithAreas;
				$surveyData.selections = questions.areas;
					if ($surveyData.questionsData && $surveyData.questionsData.length > 0) {

						await assignNextQuestion();
					}
				}
			
	});

		async function createQustions(sTypeId) {
		let questionsOfSurvey = await GetSurveyQuestionsBySurveyTypeId(sTypeId);
		let areas = await GetSurveyAreasBySurveyTypeId(sTypeId);
		const questionsWithAreas = [];
		areas.forEach((areaObject) => {
			questionsOfSurvey.forEach((questionObject) => {
				questionsWithAreas.push({
					question: questionObject,
					area: areaObject,
					answer: null,
					id: `${areaObject.id}${questionObject.id}`,
					statement: null
				});
			});
		});
		showLoader=false
		return { questionsWithAreas, areas };
	}

	// Create an HTML statement to display the current question
	function getQuestionStatement(question, area) {
		let statement = `${question.question_pt1} <span class="has-text-weight-bold is-italic">${area.name}</span>${question.question_pt2}`;

		// If there is a third part to the question (question type 3), then also include the answer to the previous question
		if (question.question_pt3 != null) {
			let lastAnswer = $surveyData.questionsData.find(
				(x) => x.area.id == area.id && x.question.id == question.id - 1
			);
			statement = `${statement} <span class="has-text-weight-bold is-italic">${lastAnswer.answer}</span>${question.question_pt3}`;
		}
		return statement;
	}

	//find the next question to be displayed question form
	async function assignNextQuestion() {
		let qs = $surveyData.questionsData.find((x) => x.answer == null);
		if (qs) {
			qs.statement = getQuestionStatement(qs.question, qs.area);
			currentQuestionData = qs;
			currentArea = qs.area.name;
			return;
		}
		updateStoreFinal = true;
		await goto(`/${surveyTypeId}/completed`);
	}

	async function handleAnswer(answerObj) {
		try {
			let temp = currentQuestionData;
			currentQuestionData = null;
			await sleep(500);
			if(!temp) return;
			let currentIndex = $surveyData.questionsData.findIndex((x) => x.id == temp.id);
			$surveyData.questionsData[currentIndex].answer = answerObj.detail.answer;
			await assignNextQuestion();
		} catch (error) {
			console.log(error);
			goto(`/${surveyTypeId}/error`);
		}
	}
	function sleep(ms) {
		return new Promise((resolve) => setTimeout(resolve, ms));
	}
</script>

<svelte:head>
	<title>Survey Questions</title>
</svelte:head>

<main>
    {#if showLoader}
        <Loader />
    {:else}
			<section class="container">
			<div class="columns">
				<div class="column">
					<QuestionForm
						areaName={currentArea}
						question={currentQuestionData}
						on:answer_clicked={handleAnswer}
					/>
				</div>
			</div>
		</section>
		{/if}

</main>

<style>

</style>
