
<script context="module">
    export const prerender = false;
    export async function load({ page }) {
        return {
            props: {
                surveyTypeId: page.params.Survey,
                pid: page.query.get('p')
            }
        };
    }
</script>
<script>
    export let surveyTypeId;
    export let pid;
    let ChartData = null;
    let tabsList = ['Scores','Selections'];
    let activeTab = 'Scores';
    let isLoading = true;
    let numAreasToDisplay
    let scores = {};
    const tabChange = (e) => {
        activeTab = e.detail;
    }

    import { onMount, tick } from 'svelte';
    import Tabs from '../../shared/Tabs.svelte';
    import { goto } from '$app/navigation';
    import { fade, fly } from 'svelte/transition';
    import Chart from '../../Components/Chart.svelte';
    import SelectionsBox from '../../Components/SelectionsBox.svelte';
    import Support from '../../Components/Support.svelte';
    import Loader from '../../Components/Loader.svelte';
    import {
        GetImpactScoresForSurveyDateId
    } from '../../../Requests/ScoresRequests';
    import { surveyStore,primaryAreaChosen,secondaryAreaChosen} from '../../stores.js';
    import {setContext} from 'svelte'
    setContext('primaryAreaChosen',primaryAreaChosen);
    setContext('secondaryAreaChosen',secondaryAreaChosen);

    let surveyDateId
    let surveyData

    onMount(async () => {
            //Check if page has been refreshed and, if so, restart survey
            
            if ($surveyStore == null) 
            {
                goto(`/${surveyTypeId}`);
            }
   
        surveyTypeId = atob(surveyTypeId);
        numAreasToDisplay=$surveyStore.num_areas_to_display
        surveyDateId = $surveyStore.date.id
        surveyData=$surveyStore

        pid = atob(pid);
        await getBasicScores();
        isLoading = false;
        await tick();
    });

    function handleSupportTab() {
        checkTabExists("What Next?");
        activeTab = "What Next?";
    }
    function checkTabExists (data){
        if (!tabsList.includes(data)){
        tabsList = [...tabsList, data];
        }
    }

    async function getBasicScores() {
        try {
            scores = await GetImpactScoresForSurveyDateId(surveyDateId);
        } catch (error) {
            await goto(`/`);
        }
        let dataForSelections = [];
        let labels = [];
        let counter = 0;
        for (let selection of scores) {
            if (counter === numAreasToDisplay) { break; }
            counter ++
            labels.push(selection.actual_area);
            dataForSelections.push({
                id: selection.areaId,
                name: selection.actual_area
            });
        }
        let impactData = [];
        let wealthData = [];
        for (let lb of labels) {
            impactData.push(scores.find((x) => x.actual_area == lb).impact);
            wealthData.push(scores.find((x) => x.actual_area == lb).wealth);
        }
        let data = {
            labels: labels,
            datasets: [
                {
                    label: 'Impact',
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1,
                    data: impactData
                }
            ]
        };
        ChartData = data;

    }
</script>
<main>
    
    {#if !isLoading}
        <div class="columns is-multiline" in:fly|local={{ duration: 1000 }}>
            <div class="column is-8 is-offset-2 insCard">
                <div class="columns">
                </div>
                <div class="column center">
                    <h1 class="title subtitle colored is-1" in:fly={{ y: -200, duration: 1000 }}>
                        Results
                    </h1>
                    
                </div>
                <div>
                    <Tabs {activeTab} {tabsList} on:tabChange={tabChange}/>
                    {#if activeTab === 'Scores'}
                    <p class="text" in:fade={{ delay: 500, duration: 2000 }}>
                        This is a prioritised list of the areas that would make the biggest difference for you.
                        <br /><br />
                        Once you have looked through, click on the 'Selections' tab above to choose the areas you want to work on.
                        <br /><br />
                    </p>
                        <div>
                            <Chart 
                            data={ChartData}
                            canvasID="scoresChart"
                            />
                        </div>
                    {/if}
                    {#if activeTab === 'Selections'}
                    <div>
                        <SelectionsBox
                        scores={scores}
                        on:selectionsSubmitClicked={handleSupportTab}   
                    />  
                    <br>        
                    </div>
                    {/if}
                    {#if activeTab === 'What Next?'}
                        <div>
                            <Support user_id={surveyData.user.id} {activeTab} {tabsList}  />                  
                        </div>
                    {/if}            
                </div>
            </div>
        </div>
    {/if}
    {#if isLoading}
        <Loader />
    {/if}
</main>
<style>
    .insCard {
        border-radius: 10px;
    }
    .footer {
        position: fixed;
        bottom: 0;
    }
    /*.left {
        padding: 2rem;
        text-align: center;
    }
    .left .colored {
        color: var(--brandColor);
        font-weight: 500;
        margin-top: 1rem !important;
        letter-spacing: -1px;
    }
*/
    .tab ul li a {
        background-color: var(--backgroundLight) !important;
    }
    .tabs.is-boxed li.is-active a {
        background-color: var(--backgroundLight) !important;
        color: var(--brandColor) !important;
    }
    .title {
        font-size: 4rem;
    }
</style>
