<script context="module">
	export const prerender = false;
	export async function load({ page }) {
		return {
			props: {
				surveyTypeId: page.params.Survey
			}
		};
	}
</script>

<script>
	export let surveyTypeId;
	let showLoader = false;
	let signupError = false;
	import { fade } from 'svelte/transition';
	import { onMount } from 'svelte';
	import { surveyStore } from '../../stores.js';
	import { goto } from '$app/navigation';
	import { PostPerson } from '../../../Requests/PersonsRequests';
	import { PostSurveyDate } from '../../../Requests/SurveyDatesRequests';
	import Loader from '../../Components/Loader.svelte';
	import {getContext} from 'svelte'
    const surveyData=getContext('surveyStore')

	onMount(async () => {
	

			//Check if page has been refreshed and, if so, restart survey
			if ($surveyData == null) 
			{
				goto(`/${surveyTypeId}`);
			}
		});

	async function handleOnSubmit() {
		        // Honeypot Check
				if (document.getElementById('honeypot').value) {
            console.log('Bot submission detected');
            return; // Early return if honeypot is filled
        }
			let data = {
				first_name: document.getElementById('name').value,
				email: document.getElementById('email').value,
				password: document.getElementById('password').value,
				source:'terencesweeney.com/surveys'
			};
			let response = await PostPerson(data);
			if (response.error){
				signupError = true;
			}
			else{
				$surveyData.user = response;
				$surveyData.login = true;
				await createSurveyDate();
				goto(`/${surveyTypeId}/questions`);
			}
	}

	async function createSurveyDate() {
		let data = {
			personId: $surveyData.user.id,
			surveyTypeId: $surveyData.id
		};
		let response = await PostSurveyDate(data);
		$surveyData.date = response;
	}
</script>

<svelte:head>
	<title>Login</title>
</svelte:head>
<main>
	{#if showLoader}
		<Loader />
	{:else if $surveyData}
		<div class="columns is-multiline" in:fade={{ duration: 2000 }}>
			<div class="column is-8 is-offset-2">
				<div class="columns">
					<div class="column right has-text-centered">
						<h1 class="title subtitle is-4">Register Your Details Here...</h1>
						<form on:submit|preventDefault={handleOnSubmit}>
								<!-- Honeypot Field (Hidden from Users) -->
								<div class="field" style="display:none;">
								<input
									type="text"
									id="honeypot"
									aria-hidden="true" 
								/>
							</div>
							<div class="field">
								<div class="control">
									<input
										class="input is-medium"
										type="text"
										placeholder="First Name"
										id="name"
										required
									/>
								</div>
							</div>
							<div class="field">
								<div class="control">
									<input
										class="input is-medium"
										type="email"
										placeholder="Email"
										id="email"
										required
									/>
								</div>
							</div>

							<div class="field">
								<div class="control">
									<input
										class="input is-medium"
										type="password"
										placeholder="Password"
										id="password"
										required
									/>
								</div>
							</div>
							<input
								class="button is-link is-block is-fullwidth is-medium"
								type="submit"
								value="signup"
								name="Register Here"
								id="submitBtn"
							/>
							<br />
						</form>
						{#if signupError}
						<div id="error_response" class="subtitle">
						That email is already registered. <a href="/{surveyTypeId}/login"><br>Click here to login</a>
						<br>
						</div>
					  	{:else}
						<a href="/{surveyTypeId}/login">Already registered? Then click here to login</a>
						{/if}
					</div>
				</div>
			</div>
		</div>
	{/if}
</main>

<style>
	.field:not(:last-child) {
		margin-bottom: 1rem;
	}
	.title {
		color: var(--textLight);
	}

/*	.register {
		margin-top: 4rem;
		border-radius: 10px;
	}
*/

	.right .title {
		font-weight: 500;
		letter-spacing: -1px;
	}
	input::placeholder {
		color: var(--textLight);
	}

	input {
		font-size: 1rem;
		background-color: var(--backgroundLight);
		color: var(--brandColor);
	}

	#submitBtn {
		color: var(--background) !important;
		background-color: var(--brandColor);
	}
	#submitBtn:hover {
		background-color: var(--brandColor);
	}
	#submitBtn:active {
		background-color: var(--brandColor);
	}
</style>
