<script>
	export let data;
	export let canvasID;
	import { onMount } from 'svelte';

	import { Chart, registerables } from '../../localPkg/Chart/chart.esm';

	onMount(() => {
		createChart();
	});
	function createChart() {
		Chart.register(...registerables);
		var ctx = document.getElementById(canvasID).getContext('2d');
		
		var myChart = new Chart(ctx, {
			type: 'bar',
			data: data,

			options: {
				indexAxis: 'y',
				scales: {
					y: {
						beginAtZero: true
					}
				}
			}
		});
	}
</script>

<canvas id={canvasID} />
<style>
    #myChart {
		height: 30%;
		width: 30%;
	}
</style>