<script>
	import Loader from './Loader.svelte';
	import { createEventDispatcher } from 'svelte';
	import { fade } from 'svelte/transition';
	export let question;
	export let areaName;
	let totalAnswers = 9;
	let answerButton = [];
	
	for(let i=0;i<=totalAnswers;i++) answerButton.push(i);

	const dispatch = createEventDispatcher();
	function handleAnswer(answer) {
		dispatch('answer_clicked', {
			answer: answer
		});
	}
</script>


<div>
	{#if areaName != null}
	<div class="area">

		<h4 id="const" class="title is-3 has-text-centered" transition:fade >
			{areaName}
		</h4>
	</div>

	{/if}
	{#if question != null}
	<div class="question">

		<article class="message" transition:fade>
			<div class="box has-text-centered">
				{@html question.statement}
			</div>
		</article>
	</div>

		<div id="answerBlock" class="box buttons has-addons is-centered" transition:fade>
			<div class="label" align="left">
				{question.question.lower_label}
			</div>
			<div id="answerButtons">
				{#each answerButton as questionIdx}
					<button
						class="answerButton button is-primary is-outlined"
						on:click={() => {
							handleAnswer(questionIdx);
						}}
						>{questionIdx}</button
					>
				{/each}

		</div>
			<div class="label" align="right">
				{question.question.upper_label}
			</div>
		</div>
	{/if}
</div>



<style>

#answerBlock
{
	display: grid;
	row-gap: 5px;
}

.area
   {
		min-height: 4em;
		grid-column: 1;
		grid-row: 1;
  }
.question
   {
	min-height: 4em;
	grid-column: 1;
		grid-row: 2
  }

  @media(max-width:550px){

	.button.is-primary.is-outlined {
	width: 20%;
	}
	.button:first-child {
		margin-bottom: 40px;
	}
}

  .box
   {
	min-height: 6em;
		grid-column: 1;
		grid-row: 3
  }
	.message-body {
		border: transparent !important;
		border-radius: 0px !important;
	}
	.message,
	.message-body {
		background-color: white;
	}
	button {
		color: var(--brandColor) !important;
		border-color: var(--brandColor) !important;
	}
	button:hover {
		color: var(--background) !important;
		background-color: var(--brandColor) !important;
	}
	.arrow-parent {
		padding: 20px;
		width: 90px;
		visibility: hidden;
	}
	.arrow-parent:hover {
		cursor: pointer;
	}
	.parent-div {
		display: grid;
		place-items: center;
	}

	.label {
		align-items: center;
	}
	.arrow {
		border: solid black;
		border-color: var(--brandColor) !important;
		border-width: 0 15px 15px 0;
		display: inline-block;
		padding: 15px;
	}

	.up {
		transform: rotate(-135deg) scale(0.8);
		-webkit-transform: rotate(-135deg) scale(0.8);
	}

	.down {
		transform: rotate(45deg) scale(0.8);
		-webkit-transform: rotate(45deg) scale(0.8);
	}
</style>
