<script>
	import {
		PostSelections	} from '../../Requests/SelectionsRequests.js';

	export let scores = [];
	import { selectionsStored } from '../stores.js';

	import { createEventDispatcher } from 'svelte';

	import {getContext,setContext} from 'svelte'

	const dispatch = createEventDispatcher();

    setContext('selectionsStored',selectionsStored);

    let primaryBoxValue;
    let secondaryBoxValue;

    let primarySelection = null;
    let secondarySelection = null;
	let selectionsSaved = false;

	const primaryAreaChosen=getContext('primaryAreaChosen')
	const secondaryAreaChosen=getContext('secondaryAreaChosen')
	const surveyData=getContext('surveyStore')


	let numAreasToDisplay=$surveyData.num_areas_to_display
    let user = $surveyData.user.id;

	async function handleSubmit() {
            let data = {person_id:user,actual_area:primarySelection,ranking:1,survey_type_id:$surveyData.id}
            await PostSelections(data)
			$primaryAreaChosen = primarySelection;
			$secondaryAreaChosen = secondarySelection;
            data = {person_id:user,actual_area:secondarySelection,ranking:2,survey_type_id:$surveyData.id}
            await PostSelections(data)
			$selectionsStored=true;
			dispatch('selectionsSubmitClicked');

	}
</script>

<main>
{#if !$selectionsStored}
The results chart displays the areas that would make the biggest difference for you.<br>
Use the dropbox below to select a primary area and secondary area that you would like to work on, then click the 'submit' button.<br><br>
<!-- svelte-ignore a11y-no-onchange -->
<form  on:submit|preventDefault={handleSubmit}>
	<label for="primaryArea">Choose a primary area to work on:</label>

	<select name = "primaryArea" id = "primaryArea" bind:value={primaryBoxValue} on:change="{() => primarySelection = primaryBoxValue}">
		<option disabled selected value> -- choose primary area -- </option>
		{#each scores.slice(0,numAreasToDisplay) as area}
			<option value={area.actual_area}>
				{area.actual_area}
			</option>
		{/each}
	</select>
    <br>
	<label for="secondaryArea">Choose a secondary area to work on:</label>

    <select name = "secondaryArea" id = "secondaryArea" bind:value={secondaryBoxValue} on:change="{() => secondarySelection = secondaryBoxValue}">
		<option disabled selected value> -- choose secondary area -- </option>

		{#each scores.slice(0,numAreasToDisplay) as area}
			<option value={area.actual_area}>
				{area.actual_area}
			</option>
		{/each}
	</select>
<br>
<div class="SelectionsTheSame">
{#if ((primarySelection !=null)&&(primarySelection == secondarySelection))}
Primary Selection and Secondary selection cannot be the same. Please change a selection.<br>
{/if}
</div>
<br>

	<button disabled={(!primarySelection || !secondarySelection) || ((primarySelection == secondarySelection))} type=submit>
		Submit
	</button>
</form>
{:else}
The areas you have selected to work on are:<br>
<br>
<p>Primary area = {$primaryAreaChosen}</p>
<p>Secondary area = {$secondaryAreaChosen}</p>
<br>To change these selection, click on the button below.
<br><br>

<button
class="answerButton button is-primary is-outlined"
on:click={() => {
			$selectionsStored=false;
}}
>Change Selections</button
>
{/if}


</main>

<style>
	.SelectionsTheSame{
		color:red;
	}
</style>


