<script>
import {
    PostAppPermission	} from '../../Requests/PersonsRequests.js';

    export let user_id
    let data
    let responseMessage
    async function storeResponse(response) {
        if(response==='Yes'){
        data={person_id:user_id,app_permission_item_id:3}
        let result= await PostAppPermission(data)
            responseMessage="Great. I will email you when it is available."
        }
        else {
            responseMessage="No worries. I hope the survey provided value for you"

        }
    }

</script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
</head>

<body>
  <main>

    <h1>Congratulations!</h1>
    <p>I hope it has been valuable to clarify what areas would make the biggest difference for you to work on.</p>
    <p>You may want to talk to the people in your life about your results</p><br>

    <p>I am currently building a platform which will:</p><br>
    <ul class="custom-bullet-list">
        <li>Provide an option to share this information with others</li>
        <li>To see information about what would make a difference for others (that they have opted to share)</li>
        <li>To connect with others based on how much value we can create for each other</li>
    </ul><br>

    {#if responseMessage}
    <div class="response">
    {responseMessage}
    </div>
    {:else}
    <p>Would you like me to email you when the platform is available?</p><br>
    
    <button 
        class="YesButton button is-link modal-button m-4" 
        on:click={() => storeResponse('Yes')}>
        Yes Please!
    </button>
    <a 
        href="#" 
        class="NoLink button is-link modal-button m-4" 
        on:click={() => storeResponse('No')} 
        style="display: inline-flex; align-items: center; justify-content: center;">
        No Thanks
    </a>
    {/if}
</main>
</body>

    <style>
        .button {
            padding: 10px 15px; /* Adjust padding as needed */
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px; /* Adjust font size as needed */
            margin: 4px 2px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
        }
    
        .YesButton {
            /* Additional styling for the Yes button if needed */
        }
    
        .NoLink {
            /* Styling to make the link look like a button */
            background-color: white; /* Red background for No option */
            color: black; /* Text color */
            font-size: 14px; /* Adjust font size as needed */

        }

        .response {
            font-size: 20px; /* Adjust the size as needed */
            color: #333; /* Example color */
            font-weight: bold;
            margin-bottom: 20px; /* Adjust the bottom margin as needed */
            font-style: italic; /* This italicizes the text */

        }

        .NoLink:hover {
            background-color: white; /* Red background for No option */
            color: black; /* Text color */
        text-decoration: none; /* Remove any underline on hover */
    }

       /* Style for the h1 heading */
       h1 {
            font-size: 24px; /* Adjust the size as needed */
            color: #333; /* Example color */
            font-weight: bold;
            margin-bottom: 20px; /* Adjust the bottom margin as needed */
        }

        /* Style for the list items */
        .custom-bullet-list {
            list-style-type: disc; /* This creates bullet points */
            margin-left: 20px; /* Adjust indentation of list */
        }

        .custom-bullet-list li {
            margin-bottom: 10px; /* Adjust space between list items */
        }

        /* Style for the buttons */
        .response-button {
            padding: 10px 15px;
            margin: 5px;
            border: 2px;
            border-radius: 5px;
            cursor: pointer;
        }

        .yes-button {
            background-color: #4CAF50; /* Green */
            color: white;
        }

        .no-button {
            background-color: white; /* Red */
            color: black;
        }
    </style>
    
 
    