<script>
	import {getContext} from 'svelte'
	import { createEventDispatcher } from 'svelte';
    let dispatch = createEventDispatcher();
	const primaryAreaChosen=getContext('primaryAreaChosen')

</script>

<main>

<p>Would you like help/support in dealing with the area of {$primaryAreaChosen}?</p><br>
<p>In our experience, it helps to work with a mentor or coach to impact areas that are not working or that could be working better.</p><br>
<p>We can help you in the following ways:</p>
<p><a href="https://calendly.com/terencesweeney/20-minute-meeting-zoom-call"  target="_blank">1. Book a 30 minute personal consult to open up how to impact this.</a></p>
<p>2. Download the following ebook which will give you some ideas on where to go from here.</p>
<p>3. Source your own coach who can support you in working on this area.</p>
<br><p>{$primaryAreaChosen} is an important area of life and you deserve to have this area work for you.</p>
<p>&nbsp;</p>

</main>



