<script>  

    let scoresTabVisible = true;  
    let supportTabVisible = false;  
    let showScoresText = true;  
    let showSupportText = false;
      
  function handleScoresTab() {  
      showScoresText = true;  
      showSupportText = false;  
      supportTabVisible = false;  
      scoresTabVisible = true;  
      document.getElementById('scoresTab').classList.add('is-active');               
      document.getElementById('supportTab').classList.remove('is-active');  
      }  
  
  function handleSupportTab() {  
      showScoresText = false;  
      showSupportText = true;  
      supportTabVisible = true;  
      scoresTabVisible = false;  
      document.getElementById('scoresTab').classList.remove('is-active');	                        
      document.getElementById('supportTab').classList.add('is-active');  
      }  
  </script>

  <main>
      <ul>
        {#if scoresTabVisible}
          <li on:click={handleScoresTab} id="scoresTab"><a href={'#'}>Scores</a></li>
        {/if}
        {#if supportTabVisible}
          <li on:click={handleSupportTab} id="supportTab"><a href={'#'}>Support</a></li>
        {/if}
      </ul>
      {#if showScoresText}	
        <div on:click={handleSupportTab} id="supportTab"><a href={'#'}>Click to show Only Support tab</a>
        </div>
      {/if}
      {#if showSupportText}	    			
        <div on:click={handleScoresTab} id="scoresTab"><a href={'#'}>Click to show Only Scores tab</a>
        </div>
      {/if}
   </main>